version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: python-order-service-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: order-service
    volumes:
      - mongodb_data:/data/db
    networks:
      - my-network

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: python-order-service-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - my-network

volumes:
  mongodb_data:
    driver: local
  rabbitmq_data:
    driver: local

networks:
  my-network:
    driver: bridge
